/* 让整个页面黑屏 */
.black-screen {
    background-color: black;
    color: black;
}

.black-screen * {
    opacity: 0;
}

.flip-after-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  